@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
body, html, #root {
  margin: 0;
  padding: 0;
  background-color: #cde4b5;
  height:100%;
  font-family: 'Montserrat', sans-serif;
}
.App{
  height: 100%;
  margin: 0;
  padding: 0;
}
